
<script>
// When the user scrolls down 20px from the top of the document, slide down the navbar
document.querySelector(".navbar-toggler").addEventListener("click", function() {
 if(!(document.body.scrollTop > 20 || document.documentElement.scrollTop > 20)){
   document.querySelector(".navbar").classList.toggle("bg-light");
  }});

window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    document.querySelector(".navbar").classList.add("bg-light");
  } else {
    document.querySelector(".navbar").classList.remove("bg-light");
  }
}
	
	$(function() {
    $('.my-5').matchHeight();
});

</script>
</body>
</html>