<%- include('partials/header'); %>

<div class="container">
	<div class="row">
		<div class="col">
	<h2 style="margin-top:2em; color: #43a047; font-family: 'Rye', cursive;">
				Member of Alumni
		
			</h2>
		<a href="https://www.facebook.com/groups/Vidyaposhakcommunity" style="float: right"> 
         <button class="btn btn-success" type="button">CLICK HERE TO JOIN VP COMMUNITY</button> 
         </a> </div></div>
	<hr>
	<div class="row">
		<div class="col">
			<div style="text-align: left;">
			<div >
				<strong>VP Community</strong>
				</div>
				<p >
					We believe Vidya Poshak’s mission should be shared and owned by the large number of like minded people. ‘Vidya Poshak Community’ is formed to address the above. We are open for any other like minded and interested people.
				</p>
				
			<hr>
			<div >
				<strong>ROLE OF VIDYA POSHAK COMMUNITY</strong>
				</div>
				<p >
					Generously the members can contribute their resources on the following.
				</p>
			<ul>
				<li><strong>Fund Raising:</strong> This includes activities like Organizing events (in companies and institutions) for broadcasting and spreading the VidyaPoshak word, referring people, establishing new contacts, internal circulation within your organization, connecting to CSR initiatives groups and getting people to sponsor students for completing their education. Main aim is to spread awareness of VidyaPoshak thus getting different categories of Donors to sponsor education for a needy student.</li>
				<li><strong>Training Program:</strong> This consists of activities like sharing your expertise through training sessions, conducting and assisting residential bridge camps, contributing towards Graduate Finishing School, conducting sessions on various inter-personal and personality development, support for placements of new graduated students, etc. Main aim is the overall personality development of the student in order to help him cope-up with the society and industry needs.</li>
				<li><strong>Technology:</strong> This consists of technological ramp-up and sharing of expertise thus joining hands for technological innovations to achieve speedy services for the students.</li>
				<li><strong>Mentor:</strong> This involves sharing knowledge about all VidyaPoshak processes in order to help ramp-up any new active member to get ready quickly to handle VidyaPoshak day-to-day operations. This can be done over Phone / Skype / Physical presence.</li>
				<li><strong>Organize:</strong> This consists of organizing and scheduling meetings for VidyaPoshak members in Bangalore. This activity happens twice a year. Invitations to the individual members are sent inviting them to attend the meeting.</li>
			</ul>
				
				
				      <a href="https://www.facebook.com/groups/Vidyaposhakcommunity" class="aVol"> 
         CLICK HERE TO JOIN VP COMMUNITY
         </a> 
				<hr>
			</div>
			<div style="background-color:#43a047; color: rgba(255,255,255,0.5)">
				<strong>Contact us @ info@vidyaposhak.org</strong>
			</div>
		</div>
	</div>
</div>

<%- include('partials/footer'); %>