<%- include('partials/header'); %>

<div class="container">
	<h2 style="margin-top:4em; color: #43a047; font-family: 'Rye', cursive;">
				Residential Bridge Camps
	</h2>

	<div class="row">
		<div class="col">
			<p>
				Vidya Poshak organizes 9 days Residential Bridge Camps that help students achieve optimal success during and after their college education. The RBCs aim at bringing positive change in the overall personality of the students. The camps also stress on Skills, Knowledge and Attitude apart from Career guidance and counseling (both career and personal). The camps can be of either 5 days or 7 days duration. RBCs strive to bridge the gap between the academia and career goals of students. It augments the needs of students which they rarely get in their formal schooling.
			</p>
			<p>
				Till date 10400 students have been trained through 175 Residential Bridge Camps. Following are the theme of the Camps.
			</p>
			<hr>
			<div style="text-align: left;">
				<h4 class="h4Vol">
					Theme and Curriculum of the Camps for PUC students:
				</h4>
				<div style="color: gray">
					<strong>Soft skills development Camps</strong>
				</div>
				<p>
					 These camps were aimed at introducing the newly inducted students into the Vidya Poshak culture and providing them with basic Life Skills. Some of the skills covered are: Creativity, Adaptability, Motivation, Goal Setting, Career awareness and Planning, Emotion Management, Study skills, Time Management, Functional English, Presentation Skills, Leadership and Team Building, Interaction with subject experts etc
				</p>
				<div style="color: gray">
					<strong>Aptitude skills Development Camps: </strong>
				</div>
				<p>
					These camps were for students in 1st, 2nd and final year degree. We have developed several themes like Interview preparation, Aptitude readiness and ELIP (English Language Improvement Project).
				</p>
				<ul>
					<li>Interview Skills- Here, we focused on Resume writing and preparation for mock interview apart from that student also learnt about group discussion, pick and speak etc. In this camp we trained 45 M.com students.</li>
					<li>Aptitude readiness-This theme mainly concentrates on Aptitude related problems like direction sense, blood relations, analogy.</li>
					<li>classification, coding and decoding etc. In this we conducted one camp for degree I & II year students trained 62 students.</li>
					<li>ELIP (English Language Improvement)-ELIP camps were focused on speaking functional English fluently with the help of audio video clips. By doing skits and dramas students got stage courage. In this camp we trained 77 students.</li>
				</ul>
			</div>
				<img src="resources/skilli.jpg">
				<img src="resources/skill2.jpg">
				<hr>
			<div style="background-color:#43a047; color: rgba(255,255,255,0.5)">
				<strong>Contact us @ info@vidyaposhak.org</strong>
			</div>
		</div>
	</div>
</div>

<%- include('partials/footer'); %>