<%- include('partials/header'); %>

<div class="container">
	<h2 style="margin-top:4em; color: #43a047; font-family: 'Rye', cursive;">
			Vidya Poshak – Abdul Kalam Susandhi Fellowship Program
	</h2>
<hr style="border-color: #fff;">
	<div class="row">
		<div class="col">
			
			<div style="text-align: left;">
				<h4 class="h4Vol">
					Abdul Kalam Susandhi Fellowship
				</h4>
				<p>
					Abdul Kalam Susandhi Fellowship is a unique program, a small step to transform the lives of rural and poorer families by enabling their children to pursue a world class professional program in the hi-tech domain of VLSI/Embedded/Software. This creates an opportunity which is otherwise unavailable to them. The program is designed to nurture their inherent strengths while at the same time impart significant new skills, both technical and life skills, to enable them to confidently enter the Hi-Tech domain of VLSI/Embedded/Software.
				</p>
				<p>
					Abdul Kalam Susandhi Fellowship is crafted as a “<strong>Earn while you Learn</strong>” program so that the parents and the families do not experience a financial burden. In fact Susandhi students start supporting their families very early in their career. DSSF is a program run by “ekLakshya VLSI R & D Center”, “Deshpande Educational Trust”, and “Sankalp Semiconductors Pvt. Ltd”, all based in Hubli.
				</p>
				<div style="color: gray">
					<strong>AKSF Program Overview</strong>
				</div>
				<ul>
					<li>The program is modeled on the “Gurukul” philosophy, where the students will be having one year residential program. This is an intense learning phase and the students learn several aspects during this phase.</li>
					<li>The students will learn the concepts of the subject by doing the activities which will not only give the knowledge but also experience, which is the unique speciality of this phase  of training.</li>
					<li>As this is the residential program the students will learn to get adapted to the different situations. By the consistent hard work and dedication the trainees will enhance their overall personality in such a way that they are immortal in their career.</li>
					<li>As the students will learn the technical and non technical skills they will be able to work at the level where it matters most.</li>		
				</ul>
				<p>
					All the details are available in the website so please give website link  <a class="aVol" href="http://www.eklakshya.com">http://www.eklakshya.com</a>
				</p>
				<div style="color: gray">
					<strong>Educate & Transform</strong>
				</div>
				<p>
					Your small contribution will enable a Meritorious Economically challenged student to undergo Job assured Abdul Kalam Sushandhi Fellowship program free of cost.
				</p>
				<a class="aVol" href="https://letzchange.org/campaigns/abdul-kalam-susandhi-fellowship-1">https://letzchange.org/campaigns/abdul-kalam-susandhi-fellowship-1</a>
			</div>
			<img src="resources/susandhi2.jpg">
			<hr>
			<img src="resources/susandhi.jpg">
				<hr>
			<div style="background-color:#43a047; color: rgba(255,255,255,0.5)">
				<strong>Contact us @ info@vidyaposhak.org</strong>
			</div>
		</div>
	</div>
</div>

<%- include('partials/footer'); %>