<%- include('partials/header'); %>

<div class="container">
	<h2 style="margin-top:4em; color: #43a047; font-family: 'Rye', cursive;">
			Employment Readiness Program
	</h2>
<hr style="border-color: #fff;">
	<div class="row">
		<div class="col">
			
			<div style="text-align: left;">
				<h4 class="h4Vol">
					Employment Readiness Program
				</h4>
			</div>
				<img src="resources/Eploy.jpg" >
			<div style="text-align: left;">
				<p>
					Vidya Poshak is bridging the gap between academic training and industry requirement with its “<strong>Employment Readiness Program</strong>”. Hundreds of VP scholars get benefit of this program along with their B.A, B.Com and B.Sc. courses. This program is mainly started to help the rural background graduate students who are ill equipped to meet the demands of the industry due to lack of career guidance and systemic employment training. We at Vidya Poshak use modern tools and techniques to make the students industry ready.
				</p>
				<div style="color: gray">
					<strong>Vidya Poshak has devised a Five Phased approach to prepare the final year students in employability. These phases are</strong>
				</div>
				<ul>
					<li>Counselling: We talk to individual student to understand his/her career aspiration. A survey form captures data from individual student.</li>
					<li>Initial Training: Provide training in aptitude, communication and Interview skills. Conduct an assessment to understand each student’s Employability Readiness.</li>
					<li>Online Training: This phase is for Distance Learning. Vidya Poshak sends material and test papers on aptitude skills and communication skills using online resources. The students are expected to complete the tests and use the reference material hosted on our blog for further preparation.</li>
					<li>Final Preparation: A 2 day residential camp is conducted for the students after they complete their final exams. This camp is to give finishing touches to the student’s interview preparations.</li>
					<li>Interview: Vidya Poshak has worked with several companies in the past and we will be inviting these companies to interview / select our students.</li>
					
				</ul>
				<p>
					Vidya Poshak is keen to ensure that maximum numbers of students are able to benefit from this program irrespective of their geographical location.
				</p>
			</div>
				<hr>
			<div style="background-color:#43a047; color: rgba(255,255,255,0.5)">
				<strong>Contact us @ info@vidyaposhak.org</strong>
			</div>
		</div>
	</div>
</div>

<%- include('partials/footer'); %>