<%- include('partials/header'); %>

<div class="container">
	<h2 style="margin-top:4em; color: #43a047; font-family: 'Rye', cursive;">
			eVidyaloka
	</h2>
	<p>
		eVidyaloka is an aspiration to transform the education landscape in the rural and remote parts of India. eVidyaloka Trust, founded in 2010,  is a non-profit organization registered in Bangalore, Karnataka in 2011 and governed by Section 12A of the Income Tax Act 1961, for the financial governance.
	</p>
	<img src="resources/ev2.jpg">
<hr style="border-color: #fff;">
	<div class="row">
		<div class="col">
			
			<div style="text-align: left;">
				<h2 class="h4Vol">
					What is eVidyaloka ?
				</h2>
				<p>
					eVidyaloka addresses the top 2 chronic challenges hampering the Quality in Education in the Schools in Rural parts of our country – Teacher Shortage and Teaching Quality. The model brings qualified Indian nationals currently living across 110+ cities, leveraging the power of Technology and enables access to high quality teachers to the children in the remotest villages of India covering from Rural to Tribal regions of this country. It’s focussed on the children in the age group of 10-14 (6th to 8th grade), delivering live interactive classes in the local medium, through a powerful partner eco system.
				</p>
				<p>
					Vidya Poshak in association with eVidyaloka is working in 4 villages in Dharwad  taluk since 2015-16 and 2016-17. It’s focussed on the children in the age group of 10-14 (6th to 8th grade), from the government schools at Managundi, Benakanakatti, Baad and Mugad.
				</p>
				<p>
					The programme is being run with the kind consent of department of education, Govt. of Karnataka. The School Development Management Committee (SDMC), parents, school staff and class assistant of  the programme. Totally 480 children were getting facility of this program.
				</p>
				<p>
					The State Board curriculum is being taught by the Volunteer Teachers, with an objective of enriching them with rich digital media contents like Videos, visual flows, pictures, activities etc. This helps the child to visualize and understand the complex concepts. This in turn also inspires the child to participate in the teaching-learning process with higher level of involvement.s
				</p>
				<p>
					The sessions are being engaged in the school hours only.  e-Vidya loka conducting one  test on beginning  of the school and conducting exams semester wise.
				</p>
				<p>
					<strong>Outcomes:</strong> Children Attendance, Measurable Learning Outcome through formal Assessments
				</p>	
			</div>
			<img src="resources/ev1.png">
			<hr>
			<div style="background-color:#43a047; color: rgba(255,255,255,0.5)">
				<strong>Contact us @ info@vidyaposhak.org</strong>
			</div>
		</div>
	</div>
</div>

<%- include('partials/footer'); %>