<%- include('partials/header'); %>

<div class="container">
	<div class="row">
		<div class="col">
	<h2 style="margin-top:2em; color: #43a047; font-family: 'Rye', cursive;">
				Financial Assistance Program
		
			</h2>
		
			<a href="resources/VP Nurture Merit Program.pptx" download="VPNurtureMeritProgram.pptx" style="float: right"> 
         <button class="btn btn-success" type="button">VP Nurture Merit Program</button> 
         </a>
			<hr style="border-color: #fff;">
			<div style="text-align: left;">
				<hr style="border-color: #fff;">
				<h4 class="h4Vol">
					Financial Assistance
				</h4>
				<div style="color: gray">
					<strong>Unique process for identifying deserving students</strong>
				</div>
				<p>
					A large number of students inevitably opt out of continuing their post 10th education due to financial difficulties. Vidya Poshak attempts to assist such students to continue their education and pursue professional or non-professional courses and realize their career dreams.
				</p>
				<p>
					Vidya Poshak invites applications from meritorious yet economically challenged students who have completed their class 10 examinations through its volunteer network. The volunteers visit the government schools and orient the students about the program and also wide publicity is given through media to reach out to the student community.
				</p>
				<p>
					Based on the 10th class results, students are short-listed for home visits to assess the extent of financial difficulty. Thereafter depending on the merit and home visit reports, the final list of eligible students will be prepared for assisting them with scholarship, books and training. The facilitators with the help of local volunteers and well wishers will organise the financial assistance disbursement programmes in selected locations.
				</p>
				<p>
					On an average every year more than 1000 house visits are made covering 600 villages/ small towns from 10 districts of Karnataka. Thanks to our 500 Senior volunteers and student volunteers who did all the house visit covering more than 25,000 KM .
				</p>
				<h4 class="h4Vol">
					Eligibility for Student Applicants
				</h4>
				<div style="color: gray">
					<strong>For 11th standard </strong>
				</div>
				<p>
					Meritorious Students from economically challenged background passing out from Class 10 with a minimum 75%* marks and with an annual family income of less than ` 70,000/- * are eligible to apply.
				</p>
		
				<div style="color: gray">
					<strong>For professional courses </strong>
				</div>
				<p>
					Top performing students (normally top 10%* of CET ranks) can apply to Vidya Poshak for pursuing courses post 12th class.
				</p>
				<div style="color: gray">
					<strong>Continuation of assistance </strong>
				</div>
				<p>
					Students receive continued support year after year subject to their satisfactory academic performance, until they complete their under graduate studies.
				</p>
			</div>
			<a class="aVol" href="resources/VP Nurture Merit Program.pptx" download="VPNurtureMeritProgram.pptx" > 
          VP Nurture Merit Program
         </a>
			<hr>
			<div style="background-color:#43a047; color: rgba(255,255,255,0.5)">
				<strong>Contact us @ info@vidyaposhak.org</strong>
			</div>
		</div>
	</div>
</div>
			
<%- include('partials/footer'); %>