<%- include('partials/header'); %>

<div class="container">
	<h2 style="margin-top:4em; color: #43a047; font-family: 'Rye', cursive;">
				Library Services
	</h2>

	<div class="row">
		<div class="col">
			
			<div style="text-align: left;">
				<h4 class="h4Vol">
					Library Services – Youth Learning Centers
				</h4>
				<p>
					Vidya Poshak realises that books form an integral part of empowering the student community. With this in mind Vidya Poshak has setup Libraries and Book banks to cater to entire student community. There are various other activities also organized in the libraries for the benefit of Student community. Our Libraries are now upgraded as <strong>Youth Learning & Career Guidance center</strong> to empower & guide the youth with necessary skills to succeed in their Career & Life.
				</p>
				<div style="color: gray">
					<strong>Objectives of our Youth Learning & Career Guidance center </strong>
				</div>
				<ul>
					<li>To create positive energy in youth by providing free access to information and facilitate hands on learning.</li>
					<li>To create an environment where the youth could get hands on experiences in Job skills such as Communication skills, Aptitude Skills, Opportunities for learning group work, discussions, presentations by conducting periodic workshops & trainings.</li>
					<li>To facilitate the youths to prepare for Competitive exams and National level Entrance exams by providing them required daily Newspapers & Periodicals.</li>
					<li>To guide and assist the youths for online applications to apply for Bank Exams, Competitive exams and any other National level entrance exams.</li>
					<li>To assist the youth by providing information regarding career options & facilitate walk-in interviews for graduates and non graduates through our existing contacts with employers.</li>
					<li>To provide youth a platform and space for engaging with the other youth and to facilitate involvement of community in endeavors of youth in bringing social change.</li>
				</ul>
			<div style="color: gray">
					<strong>Following are the visible Outcomes of our Youth Center </strong>
				</div>
				<ul>
					<li>The rural youth are getting exposure and awareness on industry requirements.</li>
					<li>The youth are getting first hand knowledge on current affairs.</li>
					<li>The youth gets clear picture on various competitive exams & Higher education options.
</li>
					<li>The youth are regularly trained on various life skills & soft skills which makes them competive and increases their confidence.</li>
					<li>There is a substantial cross learning amongst the youth which will go a long way in enriching their personalities.</li>
				</ul>
			</div>
				<img src="resources/library.jpg">
				<img src="resources/Lib-Branches-555x1024.jpg">
				<hr>
			<div style="background-color:#43a047; color: rgba(255,255,255,0.5)">
				<strong>Contact us @ info@vidyaposhak.org</strong>
			</div>
		</div>
	</div>
</div>

<%- include('partials/footer'); %>