<%- include('partials/header'); %>

<style>
	.col-md-12 {
		position: static;
	}
	.col-sm-10{
		position: static;
		background: #eef2f3; 
	}
	.col-md-6 {
		position: static;
	}
	#goBack{
	margin-top:1em;
	text-align: center;
}
</style>

<div class="container d-flex justify-content-center align-items-center" style="margin-top: 5em; max-width: 650px; ">
	<div class="row">
		<div id="models"></div>
		<div class="col-sm-10  offset-sm-1">
					<h3>
	ENTER Model details
</h3>
			
			<form name="myForm" action="/" method="POST" onsubmit="return validateForm()">
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="heading">Heading</label>
      <input type="text" class="form-control" name="model[heading]" id="heading" required>
    </div>
    <div class="form-group col-md-12">
      <label for="details">details</label>
		<textarea type="text" class="form-control" name="model[details]" id="details" required ></textarea>  </div>
  <div class="form-group col-md-12">
    <label for="subHeading">subHeading</label>
		  <input type="text" class="form-control" id="subHeading" name="model[subHeading]" required>
  </div>
    <div class="form-group col-md-12">
      <label for="subdetails">about Subheading</label>
		<textarea type="text" class="form-control" name="model[subdetails]" id="subdetails" required></textarea>
		</div>
    <div class="form-group col-md-12">
      <label for="extraheading">addition Heading</label>
       <input type="text" class="form-control" name="model[extaheading]" id="extraheading" required>
	  </div>
    <div class="form-group col-md-12">
      <label for="extradetail">additional detail</label>
		<textarea type="text" class="form-control" name="model[extradetail]" id="extradetail" required></textarea>
    </div>
	</div>
  <button type="submit" class="btn btn-primary btn-block">SAVE</button>
</form>

		</div>
	</div>
</div>
  <div id="goBack">
	  	<a href="/" id="goBack" class="btn btn-outline-secondary" >Go Back</a>
</div>

<%- include('partials/footer'); %>