<%- include('partials/header'); %>

<div class="container">
	<h2 style="margin-top:4em; color: #43a047; font-family: 'Rye', cursive;">
				VOLUNTEER US
	</h2>
	<a href="resources/snrvolunteersapplication.doc" download="snrVolunteersApplication.doc" style="float: right"> 
         <button class="btn btn-success" type="button">Volunteer Form</button> 
         </a> 
	<div class="row">
		<div class="col">
			<p>
				The unique feature of Vidya Poshak is that it is community driven. While generous donors help keep Vidya Poshak operating financially, nearly 500 esteemed volunteers elegantly execute the projects. They almost involve in all the activities of Vidya Poshak right from generating financial assistance applications, home visits,acting as resource persons in the training programs to raising funds. There are about 200 student volunteers who also participate in various activities under the guidance of the senior volunteers.
			</p>
			<div>
			<img src="resources/volunteer.jpg">
			</div>
			<hr>
			<div style="text-align: left;">
				<h4 class="h4Vol">
					VOLUNTEER FAQS
				</h4>
				<div style="color: gray">
					<strong>Who can be a Volunteer ?</strong>
				</div>
				<p>
					Those who
				</p>
				<ul>
					<li> Have genuine interest in serving student community.</li>
					<li> Have willingness to invest few hours every week/month.</li>
					<li> Are Preferably a graduate.</li>
					<li> Are prepared to Abide by rules and regulations of Vidya Poshak.</li>
				</ul>
				<h4 class="h4Vol" >
					MAJOR CONTRIBUTIONS BY VOLUNTEERS
				</h4>
				<p>
					Visited around 30,000 dwelling units of students, travelling more than 1.60 lakh kilometers across several thousand villages in last 7 years. Run 58 book banks at their residences and also organise several training programs for students
				</p>
				<h4 class="h4Vol">
					WORK WITH US
				</h4>
				<p>
					If you would like to join the Vidya Poshak and work with us, please send your resume and your interest to info@vidyaposhak.org and we will revert to you.
				</p>
				<h4 class="h4Vol">
					STAY CONNECTED
				</h4>
				<ul>
					<li>We’re on Facebook, Become a fan today! Show support for Vidya Poshak and get updates, connect with other fans, and more! – <a class="aVol"  href="https://www.facebook.com/vidyaposhak">www.facebook.com/vidyaposhak</a></li>
					<li>Follow us @ Twitter – <a class="aVol"  href="http://www.twitter.com/vidyaposhak">www.twitter.com/vidyaposhak</a> Keep up-to-date with the latest news, stories from Vidya Poshak, and fresh bits of useful resources and links</li>
					<li>Join “Vidya Poshak Community Blog" – <a class="aVol"  href="http://www.vidyaposhak.net">http://www.vidyaposhak.net</a> Keep up-to-date with the latest news, articles, stories etc., from Vidya Poshak</li>
					<li>Subscribe to our Youtube channel- <a class="aVol" href="http://www.youtube.com/vidyaposhakdharwad">http://www.youtube.com/vidyaposhakdharwad</a> to view our latest videos of various programs.</li>
				</ul>
				<p>
					<strong>Interested?</strong> Please write to us at info@vidyaposhak.org  about your interest and the time you would like to spend with us and one of our volunteer coordinators will get in touch with you soon.
				</p>
				      <a href="resources/snrvolunteersapplication.doc" download="snrVolunteersApplication.doc" class="aVol"> 
          PLEASE SEND THE VOLUNTEER FORM 
         </a> 
				<hr>
			</div>
		</div>
	</div>
</div>

<%- include('partials/footer'); %>